# src: https://gist.github.com/jalal/2115e496c2dedb95212c3ca7405707e8
npm-debug.log
.DS_Store

*.js.map
*.metadata.json
# app/**/*.js
npm-debug.log

hooks/
lib/
node_modules/
platforms/
tmp/
typings/
